body{
  font-family: Arial
  font-size:15px;
  line-height: 1.5;
  margin:0;
  padding:0;
  background-color: #bdbdbd;
}

h1{
  text-align: center;
}
.container{
  width:80%;
  margin:auto;
  overflow:hidden;
}

header{
  text-align: center;
  background: #282828;
  padding-top:30px;
  min-height: 70px;
  border-bottom: #000000 3px solid;
}

header a{
  text-align: center;

  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size:15px;
}

header ul{
  text-align: center;

  margin:0;
  padding:0;
}

header li{
  text-align: center;

  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  text-align: center;



}
header #branding h1{
  margin:0;
  color:#38acec;
}

header nav{
  float:right;
  margin-top: 10px;
}

header .highligh, header .current a{
  color:#38acec	;
  font-weight: bold;
}

header a:hover{
  color:#38acec;
  font-weight: bold;
}



#showcase{
  min-height: 618px;
  background: url('../img/comp.jpg') no-repeat 0 -500px;
  text-align:center;
  color:#38acec;
}

#showcase h1{
  font-family: Impact, Charcoal, sans-serif;
  margin-top:200px;
  font-size: 60px;
  margin-bottom: 10px;
}

#showcase p{
  margin-top: :100px;
  font-size: 30px;
  margin-bottom: 10px;

}

img{
  float:right;

  margin-right: -200px;
  padding:40px;


}
img#cycle{

}


aside#sidebar{
  float:right;
  width:30%;
  margin-top:-800px;
  margin-right: 20px;
  font-size: 20px;


}
ul{
list-style:square outside none;
}
aside#sidebox{
  float:right;
  width:30%;
  margin-top:-150px;
  margin-right: 20px;

  font-size: 20px;
}
aside#blackbox{
  float:right;
  width:24%;
  margin-top:-150px;
  margin-right: 150px;
  margin-bottom: 20px;
  font-size: 20px;

}

aside#side-img{
  float:right;
  width:24%;
  margin-top:-450px;
  margin-right: 315px;
  margin-bottom: 10px;


}
aside#Izzat-img{
  float:right;
  width:24%;
  margin-top:-800px;
  margin-right: 280px;
  margin-bottom: 10px;
  font-size: 20px;
}

aside#runscape-img{
  float:right;
  width:24%;
  margin-top:-467px;
  margin-right: 350px;
  margin-bottom: 10px;
}


.dark{
  padding:15px;
  background:#35424a;
  color:#ffffff;
}

article#main-col{
  float:left;
  width:80%;
  font-size: 20px;

}
article#main-col2{
  float:left;
  width:65%;
  font-size: 20px;
  margin-top: -100px;
}
article#main-area{
  float:left;
  width:60%;
  font-size: 20px;

}
article#secound-para{
  float:left;
  width:60%;
  font-size: 20px;
}
article#third-para{
  float:left;
  width:60%;
}

footer{
  padding: 20px;
  margin-top: 20pc;
  color:#ffffff;
  background-color: #282828;
  text-align: center;
}
